@page
@model TestWithKendo.Pages.TaskGroupListModel
@{
    ViewData["Title"] = "Task Group Maintenance";
}
<link href="~/Packages/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet" />
<link href="~/Packages/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" />
<!-- Add CSS styles directly -->
<style>
    .content {
        width: 100%;
    }

    #aa-task-groups {
        border: 1px #E5E5E5 solid;
        box-sizing: border-box;
    }

    .common.add-new-group-button {
        margin-bottom: 16px;
    }

    .aa-kendo-grid > thead > tr > th:first-child,
    .aa-kendo-grid > tbody > tr > td:first-child,
    .aa-kendo-grid > thead > tr > th:nth-child(2),
    .aa-kendo-grid > tbody > tr > td:nth-child(2) {
        width: 80px;
        text-align: center;
    }

    .fa-trash-alt.disabled {
        color: #C3C3C3 !important;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<script src="~/Packages/jquery/jquery.min.js"></script>
<script src="~/Packages/kendo-ui/js/kendo.all.min.js"></script>

<div class="aa-title">
    <div class="d-flex justify-content-between" style="margin-left: 9rem;">
        <h1>
            <i class="title-icon fas fa-file-alt"></i>
            Task Group Maintenance
            <a asp-page="/AdminList" class="aa-command-button">
                <i class="aa-icon fas fa-arrow-circle-left fa-fw" title="Return to Admin Area"></i>
            </a>
        </h1>
        <div id="aa-bank-logo-container">
            <img src="/customer/logo/customerlogo.gif" alt="logo" id="customer-logo-image" />
            <span>@Model.BankName</span>
        </div>
    </div>
</div>

<div class="aa-pad-md content">
    <div id="aa-task-groups">
        <ul>
            <li class="@(Model.Tab == "C" ? "k-state-active" : "")">Credit Task Groups</li>
            <li class="@(Model.Tab == "L" ? "k-state-active" : "")">Account Task Groups</li>
        </ul>

        @foreach (var pair in new[] { ("Credit", Model.CreditGroups, "C"), ("Account", Model.AccountGroups, "L") })
        {
            var gridId = $"taskGroupGrid-{pair.Item3}";

            <div id="aa-@pair.Item1.ToLower()-task-groups-content" style="display:@(Model.Tab == pair.Item3 ? "block" : "none")">
                <div class="common add-new-group-button">
                    <a class="k-button k-primary"
                       asp-page="/TaskGroupMaint"
                       asp-route-action="ADD"
                       asp-route-taskGroupType="@pair.Item3"
                       asp-route-bankId="@Model.BankId">
                        <i class="aa-icon fas fa-plus-circle"></i>&nbsp;&nbsp;Add New @pair.Item1 Task Group
                    </a>
                </div>

                @if (!pair.Item2.Any())
                {
                    <div class="common">No @pair.Item1 Task Groups defined.</div>
                }
                else
                {
                    <div id="@gridId"></div>

                    <script>
                $(document).ready(function () {
                    $("#@gridId").kendoGrid({
                        dataSource: {
                            data: @Html.Raw(Json.Serialize(pair.Item2)),
                            schema: {
                                model: {
                                    fields: {
                                        TaskGroupId: { type: "number" },
                                        TaskGroupLabel: { type: "string" },
                                        TaskCount: { type: "number" },
                                        TaskProcessing: { type: "string" },
                                        ExceptionCount: { type: "number" }
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        scrollable: false,
                        sortable: true,
                        pageable: false,
                        columns: [
                            {
                                field: "TaskGroupId",
                                title: "Delete",
                                template: function (dataItem) {
                                    if (dataItem.ExceptionCount == 0) {
                                        return `<a href="javascript:void(0);" onclick="openKendoDialog('Delete Group',
                                            '/TaskGroupDeleteConfirm?taskGroupId=${dataItem.TaskGroupId}&taskGroupType=@pair.Item3&bankId=@Model.BankId',
                                            500, 700)" class="aa-command-link">
                                            <i class="aa-icon fas fa-trash-alt fa-fw" title="Delete Group"></i></a>`;
                                    } else {
                                        return `<i class="aa-icon fas fa-trash-alt fa-fw disabled"
                                                   title="Cannot delete: group has exceptions"></i>`;
                                    }
                                },
                                width: 100
                            },
                            {
                                field: "TaskGroupId",
                                title: "Edit",
                                template: function (dataItem) {
                                    return `<a href="/TaskGroupMaint?handler=edit&taskGroupId=${dataItem.TaskGroupId}&taskGroupType=@pair.Item3&bankId=@Model.BankId"
                                            class="aa-command-link">
                                            <i class="aa-icon fas fa-pencil-alt fa-fw" title="Edit Group"></i></a>`;
                                },
                                width: 100
                            },
                            {
                                field: "TaskGroupLabel",
                                title: "Task Group Name",
                                template: function (dataItem) {
                                    return dataItem.TaskGroupLabel != "" ? "Credit Task" : "NA";
                                }
                            },
                            { field: "TaskCount", title: "Number of Tasks" },
                            {
                                field: "TaskProcessing",
                                title: "Processing Type",
                                template: function (dataItem) {
                                    return dataItem.TaskProcessing == "P" ? "Execute all Tasks" : "Execute Tasks in Order";
                                }
                            }
                        ]
                    });
                });
                    </script>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.core.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.data.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.userevents.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.draganddrop.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.popup.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.window.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.tabstrip.min.js"></script>
    <script type="text/javascript" src="~/Packages/Kendo.Window.js"></script>

    <script>
        $(document).ready(function () {
            $("#aa-task-groups").kendoTabStrip();
        });
    </script>
}